*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: linear-gradient(135deg,#2b9c32, #d0f1d2, #c8ebc9,#2b9c32 );
}

.header-top {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo  */

.logo img {
    width: 120px;
}

/* Navigation  */

nav ul {
    display: flex;
    gap: 25px;
    
}

nav ul li{
    list-style: none;
    
}

nav a {
    text-decoration: none;
    position: relative;
    color: #1b5e20 ;
    text-shadow:0 2px 10px greenyellow;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

 nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: orangered;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color:orangered;
}

.cart img {
    width: 24px;
    height: 24px;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cart img:hover {
    transform: scale(1.1);
}







/* Responsive Design  */

/* Mobile Version  */
@media (max-width: 768px) {
    .header-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* gap: 20px; */
    }

    nav ul li:not(.cart) {
        /* flex-direction: column;
        gap: 15px; */
        display: none;
    }
    .cart {
        display: block;
    }
}

/* Tablet Version  */
@media (max-width:1024px) {
    .header-top {
        padding: 16px 20px;
    }

    .logo img {
        width: 100px;
    }

    nav ul{
        gap: 18px;
    }

    nav a {
        font-size: 16px;
    }
}